.footer-section {
    margin: 0;
    background: linear-gradient(to right, #fc4958, #e85d04);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    padding: 4vw;
    /* text-align: center; */
  }
  
  .footer-section p {
    font-size: 1.2vw; /* Responsive text size */
    line-height: 2vw;
    letter-spacing: 0.1vw;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 3vw;
    margin-top: 2vw;
    padding: 0;
  }
  
  .social-icons li {
    padding: 0.8rem;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
  }
  
  .social-icons li:hover {
    background-color: black;
  }
  
  .social-icons li svg {
    color: #fc4958;
    font-size: 1.8vw;
    transition: 0.3s ease-in-out;
  }
  
  .footer-section img {
    filter: brightness(0) invert(1);
    width: 20vw;
    max-width: 150px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .container h3 {
    font-size: 1.8vw;
    text-transform: uppercase;
  }
  
  .lower-footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
  }
  
  .lower-footer h2 {
    font-size: 1.3vw;
  }
  
  .lower-footer h2 span {
    color: #fc4958;
    text-transform: uppercase;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 1080px) {
    .footer-section {
      grid-template-columns: 1fr;
      gap: 3vw;
    }
  
    .footer-section p {
      font-size: 3vw;
      line-height: 3vw;
    }
  
    .social-icons {
      gap: 2vw;
    }
  
    .social-icons li {
      width: 4vw;
      height: 4vw;
    }
  
    .social-icons li svg {
      font-size: 2vw;
    }
  
    .container h3 {
      font-size: 3vw;
    }
  
    .lower-footer h2 {
      font-size: 2vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer-section p {
      font-size: 3.2vw;
      line-height: 4vw;
    }
  
    .social-icons {
      gap: 5vw;
    }
  
    .social-icons li {
      width: 10vw;
      height: 10vw;
    }
  
    .social-icons li svg {
      font-size: 3vw;
    }
  
    .container h3 {
      font-size: 4vw;
    }
  
    .lower-footer h2 {
      font-size: 3vw;
    }
  }
  